* {
    font-family: 'Inconsolata', monospace;
    color: #333;
    cursor: default;
    box-sizing: border-box;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

#confetti-canvas {
    height: 100vh;
    width: 100vw;
}

.container {
    position: absolute;
    width: fit-content;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
}

.control-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 10px 0;
}

.control-bar > * {
    width: 70px;
}

#difficulty {
    font-size: 14px;
    height: 35px;
}

.status-icon {
    font-size: 45px;
    cursor: pointer;
    text-align: center;
}

.mine-counter {
    font-size: 35px;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
}

.board {
    width: fit-content;
    border: 1px solid #b3b3b3;
}

.row {
    display: flex;
}

.tile {
    height: 35px;
    width: 35px;
    border: 1px solid #b3b3b3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile[data-state='hidden']:hover {
    background-color: #e6e6e6;
}

.tile[data-state='revealed-count'],
.tile[data-state='revealed-safe'] {
    background-color: #d9d9d9;
    font-size: 30px;
}

.tile[data-state='revealed-count']:hover {
    background-color: #ccc;
}

.tile[data-state='flagged'] {
    background-color: gold;
}

.tile.material-symbols-outlined {
    font-size: 25px;
}
